main {
    position: relative;
    width: 100%;
}

.hero img {
    height: 700px;
    width: 100%;
    object-fit: cover;
}

.data, .weather {
    position: absolute;
    width: 300px;
    padding: 2.5rem;
    z-index: 10;
    border-top: none;
    border-left: 8px solid var(--secondary-color);
    
   
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}

.data {
    top: 60px;
    left: 5%;
}

.weather {
    bottom: 60px;
    right: 5%;
    top: auto;
}