

body {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto auto 1fr auto;
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

header {
    grid-column: 1 / 3;
    background-color: #2C3E50;
    color: #FFFFFF;
    text-align: left;
}

h1 {
    margin: 0;
    padding: 2.5rem;
}

footer {
    grid-column: 1/3;
    background-color: #2C3E50;
    color: #FFFFFF;   
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #1A1A1A;
    padding: 0.5rem;
}

nav a { 
    color:#18BC9C;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color: #18BC9C; 
    color: #1A1A1A;           
    border-radius: 5px;       
    transition: 0.3s;
}
main { 
    background-color: #F4F7F6;
    padding: 2rem;
    min-height: 400px;
    
}
aside { 
    background-color: #FFFFFF;
    padding: 2rem;
    border-left: 1px solid #D1D1D1;
}