
@media (min-width: 800px) {
    #menu { display: none; }

    .navigation {
        display: flex ;
        position: static;
        width: auto;
        flex-direction: row;
    }

    .navigation a { 
        border: none; 
        padding: 0 1rem; }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        margin: 2rem auto;
    }
}

