


@media screen and (min-width: 768px) {
    
    #menu {
        display: none; 
    }

    .navigation {
        display: flex ;
        position: static;         
        flex-direction: row;     
        width: auto;           
        background-color: transparent; 
    }

    .navigation li {
        margin-left: 1.5rem;
    }

    .navigation a {
        padding: 0.5rem 1rem;
        font-size: 1.2rem; 
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main {
        max-width: 1000px; 
        margin: 0 auto;
        text-align: center;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
        padding: 20px 0;
    }
}